 /* .App {
  text-align: center;
    height:85vh;
    width: 385px;
    background-image: linear-gradient(rgb(189, 111, 189),rgb(137, 137, 211));
  margin: auto;
} */
body{
  background-color: cornflowerblue;
}

/* .email{
  padding-right: 200px;
}
.password{
  padding-right: 171px;
}
.right{
  margin-right: 50px;
}
.input{
  height: 20px;
    width: 229px;
    margin-bottom: 21px;
    border: none;
}
.checkbox{
  height: 20px;
  width: 229px;
  margin-bottom: 21px;
  padding-left: 61px;
  border: none;
}
.submit1{
  height: 27px;
  width: 83px;
  color: white;
  margin-top: 22px;
  background-color: rgb(94, 94, 230);
  border: none;
  margin-left: 0px;
}
img{
  height: 63px;
    width: 63px;
    border-radius: 63px;
}
.remember{
  padding-left: 6px;
}
.forgot{
  margin-top: 18px;
  color: #70c7df;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

 .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */ 
